.row-fluid.sidebar-header
  .span12.metro-blue
    .metro-header
      img(src='/img/metro-parts.png')
      h2 What You'll Need
.row-fluid.sidebar-content
  .span12
    ul.part-list
      each part in parts
        li
          span #{part.name}
          span.pull-right x#{part.quantity}