.row-fluid.sidebar-header
  .span12.metro-blue
    .metro-header
      img(src='/img/metro-parts.png')
      h2 Shopping List
.row-fluid.sidebar-content
  .span12
    ul
      li Breadboard
      li 10uF 50V Electrolytic Capacitor
      li .1uF 50V Electrolytic Capacitor
      li 1k&#2126; 1/4 Watt Resistor
      li Hookup wire