.row-fluid.sidebar-header
  .span12.metro-green
    .metro-header
      img(src='/img/metro-links.png')
      h2 Resources
.row-fluid.sidebar-content
  .span12
    ul.resource-list
      each resource in resources
        li
          a(href='#{resource.href}', target="_blank") #{resource.text}