extends layout

block content
  .jumbotron
      h1 Ahhhhhhh Crap!

      p.lead We couldn't find that page but enjoy a <a href='http://en.wikipedia.org/wiki/Rickrolling' target='_blank'>Rick Roll</a> on us.

      .main-video
        <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ?rel=0" frameborder="0" allowfullscreen></iframe>
