extends layout

block content
  .jumbotron
      h1 
        span.main-micro 
          &micro;
        | Casts?


      .main-video-container
        <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/4fL4P8o1tN8?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>

      p.lead We started &micro;Casts (pronounced micro casts) because we've been through the learning curve of hacking <a href="http://en.wikipedia.org/wiki/Embedded_system" target="_blank">embedded projects</a>.  It sucks and it turns a lot of really good, talented people away from a community that could use more excited contributors. So here are some of the principles that we hope to embody on the site.

  hr

  h2 This is for Everyone
  p.lead First and foremost, this stuff is for anyone that's interested.  I don't care if you are 13 or 113, you can figure this stuff out and have fun doing it. There are so many creations locked in the minds of people that could be released if they just had a little know-how.  We want to share what we know in a way that will hopefully help your projects become reality.

  h2 What Engineering Standards?
  p.lead If you are an engineer looking for best practices and design information that complies with international standards in engineering you're on the wrong site.  We get that most people who are starting their journey with microcontrollers and the Internet of Things aren't trying to create a <a href="http://en.wikipedia.org/wiki/UL_(safety_organization)" target="_blank">UL Listed</a> device. They just want to get their coffee pot tweeter working.  In that spirit, we'll do a lot of hacking and some (or a lot) of this stuff won't be "to standards".  Who cares?  We're here to have fun.

  h2 RTFM Not Welcome Here
  p.lead RTFM has gone too far. People seem to forget how hard it is when you're first getting started. We haven't. The last thing you want to hear while trying to wrap your head around a complicated topic is "Go read the freakin' manual noob."  We certainly encourage learning through reading and will reference "the manual" when it's appropriate but we'll never respond to your questions with RTFM. You'll have a lot of questions. That's natural and we encourage you to ask when you need help. We don't promise to have all the answers but we really do want to help you figure this stuff out. It's incredibly rewarding when you do and we want to be a part of that.

  h2 Have Fun and Share
  p.lead This stuff is really a lot of fun as you start to learn more and unlock your ability to create. The first time you get a microcontroller to flash an LED you'll feel like you just figured out the secret to building the Iron Man suit. And when you do we want to hear about it. Send us an email, post a comment, tweet about it. If you've had a collosal failure, tell us about that too. We're always up for a good story that may or may not involve a soldering iron and fire.