extends layout

block content
  .jumbotron
      h1 
        span.main-micro 
          &micro;
        | Casts?


      .main-video-container
        <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/OIispD259Wo?rel=0" frameborder="0" allowfullscreen></iframe>

      p.lead We started &micro;Casts (pronounced micro casts) because we've been through the learning curve of hacking <a href="http://en.wikipedia.org/wiki/Embedded_system" target="_blank">embedded projects</a>.  It sucks and it turns a lot of really good, talented people away from a community that could use more excited contributors. We want to help you create awesome projects. We're not electronics experts but we want to help and make it fun and interesting at the same time.

  hr

  h2 This is for Everyone
  p.lead First and foremost, this stuff is for anyone that's interested.  You can figure this stuff out and have fun doing it. There are so many creations locked in the minds of people that could be released if they just had a little know-how.  We want to share what we know in a way that will hopefully help your projects become reality. Let us know what you think and always feel free to submit episode suggestions.

  h2 What Engineering Standards?
  p.lead If you are an engineer looking for best practices and design information that complies with international standards in engineering you're on the wrong site.  <strong>K-SID is not a professional electronics engineer.</strong>  We get that most people who are starting their journey with microcontrollers and DIY Electronics aren't trying to create a <a href="http://en.wikipedia.org/wiki/UL_(safety_organization)" target="_blank">UL Listed</a> device. They just want to get their coffee pot tweeter working.  In that spirit, we'll do a lot of hacking and some (or a lot) of this stuff won't be "to standards".  Who cares?  We're here to have fun.

  h2 RTFM Not Welcome Here
  p.lead RTFM has gone too far. People seem to forget how hard it is when you're first getting started. We haven't. The last thing you want to hear while trying to wrap your head around a complicated topic is "Go read the freakin' manual noob."  We certainly encourage learning through reading and will reference "the manual" when it's appropriate but we'll never respond to your questions with RTFM. You'll have a lot of questions. That's natural and we encourage you to ask when you need help. We don't promise to have all the answers but we really do want to help you figure this stuff out. It's incredibly rewarding when you do and we want to be a part of that.

  h2 Bottom Line
  p.lead You want to make cool projects.  We want to help you make cool projects.  The days of having to be an electronics genius to create amazing projects is gone. With just a little know-how and encouragement you can figure this stuff out.  Start hacking and let us know how we can help.