extends layout

block content
  .jumbotron
      h1 Connect With Us!
  hr

  .row-fluid
    .span12
      h1 BALL (Aaron Ball)
      img.pull-right.profile-pic(src='/img/aball_profile.png')

      p.lead Husband, registered nurse, father of nine and still finding places where kids hide Legos.  Aaron is the smooth camera operator and video editor for &microCasts.  He also serves as test dummy when your learning requires it.

      a(href='https://twitter.com/aatball', target='_blank')
        img.pull-left(src='/img/social/Twitter2.png')
      a(href='http://www.linkedin.com/in/aatball/', target='_blank')
        img.pull-left(src='/img/social/linkedin.png')

  hr

  .row-fluid
    .span12
      h1 K-SID (Kevin Sidwar)
      img.pull-right.profile-pic(src='/img/ksid_profile.png')

      p.lead Electrical engineer by degree, software engineer by profession. Always looking for an opportunity to make a difference.  Kevin does the codey code and blinky blink for &microCasts.

      a(href='https://twitter.com/sidwarkd', target='_blank')
        img.pull-left(src='/img/social/Twitter2.png')

      a(href='http://sidwar.tumblr.com', target='_blank')
        img.pull-left(src='/img/social/Tumblr.png')

      a(href='https://www.rebelmouse.com/ksid/', target='_blank')
        img.pull-left(src='/img/social/rebelmouse.png', style='height:54px; width:54px; margin:5px 4px 0px 4px;')

      a(href='http://www.linkedin.com/in/sidwarkd/', target='_blank')
        img.pull-left(src='/img/social/linkedin.png')

      
 
