extends layout

block content

  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") &micro;Casts
        .nav-collapse.collapse

          ul.nav
            li.active
              a(href="#") Home
            li.active
              a(href="#") About
            li.active
              a(href="#") Contact

  .container-fluid
    .row-fluid
      .span9
        .hero-unit
          h1 &micro;Casts
          p Short, focused, chunks of embedded learning Awesomeness. Helping hack your way to your personal Internet of Things.

          p
            a.btn.btn-primary.btn-large Watch Intro &nbsp;
              i.icon-play-circle.icon-white

        .row-fluid
          .span6
            h2 Volts, Amps, Watts, Oh My!
            p Just the very basics here to help you get on your embedded electronics way.  Also to help prevent you from killing yourself.
            p 
              a.btn.btn-info(href='#') Watch &nbsp;
                i.icon-play-circle.icon-white

          .span6
            h2 Resist My Capacitance
            p Get to know the basics about resistors and capacitors.  Just enough to make you dangerous.
            p 
              a.btn.btn-info(href='#') Watch &nbsp;
                i.icon-play-circle.icon-white

        hr

        .row-fluid
          .span6
            h2 Blinky Blink
            p What's an LED?  How to hook it up, blow it up, and blink it up.
            p 
              a.btn.btn-info(href='#') Watch &nbsp;
                i.icon-play-circle.icon-white

          .span6
            h2 Micro Wha?
            p Start playing with microcontrollers and you'll never go back.
            p 
              a.btn.btn-info(href='#') Watch &nbsp;
                i.icon-play-circle.icon-white

      .span3
        .well.sidebar-nav
          ul.nav.nav-list
            h3 Put Any Sidebar Stuff Here or Delete For Now

    hr

    block footer
      p &copy; HardlySoftware 2012
