extends layout

block content

  .row-fluid
    .span12
      h1 Need Something?
      p.lead We make every effort to reply to emails as quickly as possible.  Normally we can respond within 1 to 2 hours (except when we're sleeping). If it's been more than a day then we've either been kidnapped by aliens or something went wrong (spam filter maybe).

      h2
        a(href="mailto:support@hardlysoftware.com", rel="nofollow") support@hardlysoftware.com
      br
      br

      h2 Follow Us on Twitter
      p.lead We love to here from people.
      a(href='https://twitter.com/sidwarkd', target='_blank')
        img.pull-left(src='/img/social/Twitter2.png')

      
 
