extends episode_layout

block content

  .main-video-container
    <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/3jFw87fdxvQ?rel=0" frameborder="0" allowfullscreen></iframe>

  hr

  .row-fluid
    .span8.episode-body
      h2= title
      span.episode-date Dec 09, 2012
      br

      h3 Overview
      p= caption

      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

      p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

       
      p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first lin

      p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

       
      p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first lin

    .span4
      .row-fluid.sidebar-header
        .span12.metro-green
          .metro-header
            img(src='/img/resources-metro.png')
            h2 Resources
      .row-fluid.sidebar-content
        .span12
          ul
            li
              a(href='http://science.howstuffworks.com/environmental/energy/question501.htm') HowStuffWorks
            li
              a(href='http://en.wikipedia.org/wiki/Electric_current') Current on Wikipedia
            li
              a(href='http://amasci.com/miscon/voltage.html') Voltage

      .row-fluid.sidebar-header
        .span12.metro-blue
          .metro-header
            img(src='/img/metro-parts.png')
            h2 Part List
      .row-fluid.sidebar-content
        .span12
          ul
            li Breadboard
            li 10uF 50V Electrolytic Capacitor
            li .1uF 50V Electrolytic Capacitor
            li 1k&#2126; 1/4 Watt Resistor
            li Hookup wire

      a(href='#') Mouser Shopping List
