extends episode_layout

block content

  .row-fluid
    .span12
      .main-video-container
        <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/3jFw87fdxvQ?rel=0" frameborder="0" allowfullscreen></iframe>

  hr

  .row-fluid
    .span8.episode-body
      h1= title
      span.episode-date Dec 09, 2012
      br

      h3 Overview
      p= caption

    .span4
      .row-fluid.sidebar-header
        .span12.metro-green
          .metro-header
            img(src='/img/metro-links.png')
            h2 Resources
      .row-fluid.sidebar-content
        .span12
          ul
            li
              a(href='http://science.howstuffworks.com/environmental/energy/question501.htm') HowStuffWorks
            li
              a(href='http://en.wikipedia.org/wiki/Electric_current') Current on Wikipedia
            li
              a(href='http://amasci.com/miscon/voltage.html') Voltage

      .row-fluid.sidebar-header
        .span12.metro-blue
          .metro-header
            img(src='/img/metro-parts.png')
            h2 Part List
      .row-fluid.sidebar-content
        .span12
          ul
            li Breadboard
            li 10uF 50V Electrolytic Capacitor
            li .1uF 50V Electrolytic Capacitor
            li 1k&#2126; 1/4 Watt Resistor
            li Hookup wire

      a(href='#') Mouser Shopping List
