!!! 5
html
  head
    title &micro;Casts | 
      = title
    include header
    include bootstrap
    include fontawesome
    //if lt IE 8
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    link(href='http://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet') type='text/css'>
    link(rel='stylesheet', href='/css/site.css')

    block customheader

  body

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/") &micro;Casts
          .nav-collapse.collapse

            ul.nav
              - if (title === 'Home')
                li.active
                  a(href="/") Home
              - else
                li
                  a(href="/") Home
              - if (title === 'About')
                li.active
                  a(href="/about") About
              - else
                li
                  a(href="/about") About
              - if (title === 'Connect')
                li.active
                  a(href="/connect") Connect
              - else
                li
                  a(href="/connect") Connect


    .container-fluid

      block content

      hr

      #disqus_thread
      script(type="text/javascript")
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'ucasts'; // required: replace example with your forum shortname
          var disqus_identifier = "#{permalink}";

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      noscript
        Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      a.dsq-brlink(href="http://disqus.com") comments powered by 
        span.logo-disqus Disqus
    

    include footer