extends episode_layout

block content

  .row-fluid
    .span12
      .main-video-container
        - if (typeof(video) !== 'undefined')
          <iframe width="640" height="360" src="#{video}?rel=0" frameborder="0" allowfullscreen></iframe>
        - else
          h1 :-( Sorry, we couldn't find the video

  hr

  .row-fluid
    .span8.episode-body
      h1= title
      span.episode-date Dec 09, 2012
      br

      h2 Overview
      p= caption

      - if (typeof(notes) !== 'undefined')
        != notes

    .span4
      - if (typeof(resources) !== 'undefined')
        include ./partials/resources.jade

      - if (typeof(resources) !== 'undefined')
        include ./partials/parts.jade
        
