extends layout

block content
  .jumbotron
      h1 Questions?

      p.lead Hopefully we have answers below.  If not, please feel free to 
        a(href="/contact") email us or hit us up on Twitter.


  h3.underline-blue General Questions

  h4.faq-question#contact-faq How can I contact you?
  p.faq-answer Feel free to send any inquiries, requests, or feedback to 
    a(href="mailto:support@hardlysoftware.com", rel="nofollow") support@hardlysoftware.com
    .  We'll usually answer within an hour or two but if it goes a whole day you may want to contact the authorities and submit a missing person claim.  You're also welcome to connect with us on Twitter.

  h4.faq-question Can I share my purchases with somebody else?
  p.faq-answer Our videos are licensed to you for individual use and viewing. We've made a conscious decision not to go to extremes to lock down our content with DRM nastiness. We did this because we feel that, by and large, people are not dishonest criminals so we don't want to treat our customers that way. In return we kindly ask that you not share your purchased series with others. If you enjoy it and would like to share it with others please encourage them to purchase a copy of their own.

  p.faq-answer Our sales are what keep us in business and generating content for you to enjoy. Please help us continue to do so by not sharing.

  h4.faq-question Why aren't all the videos free?
  p.faq-answer It takes a lot of work to produce a series for &micro;Casts.  We spend a lot of time gathering and organizing information so you don't have to and feel the time savings alone are worth the price.  Give us a chance to prove it to you and if you disagree we offer a 
    a(href="#guarantee") money-back guarantee.

  h4.faq-question Do you take requests?
  p.faq-answer Absolutely! We're always on the lookout for new material and we want to create content that you're interested in.  Please feel free to submit any requests 
    a(href="/contact")  via email
    . We can't promise to fulfill all requests but we take them all into consideration.

  h4.faq-question What if I have a problem with my purchase?
  p.faq-answer Then we need to get it fixed right away. 
    a(href="/contact") Contact us 
    
    |explaining the problem and include any order information you have available. Purchase issues go straight to the front of the queue and we'll get on it immediately.

  h4#guarantee.faq-question Do you offer a guarantee?
  p.faq-answer Yes! We believe that you should get what you pay for.  Each paid series has an outline of what the series covers and what you should get out of it.  If you don't feel we delivered on those stated objectives then please 
    a(href="/contact") send us an email 
    |and we'll refund your purchase.

  p.faq-answer To help prevent returns we would ask two things of you:
    ul
      li If you have any questions about what's included in a series please send us those before purchasing.  We'd be happy to answer any questions you may have to help you determine if a series is right for you.
      li If you do decide you want a refund don't be surprised if we ask why.  It's not because we want to hassle you.  It's because we truly want to provide the best content we can and if we've fallen short we want to figure out why so we can make it better.


  br
  h3.underline-blue Payment Questions

  h4.faq-question Do you store my credit card information?
  p.faq-answer No. Your card number is only used for the purchase transaction and is then discarded.  We will never store your credit card information.

  h4.faq-question Is your payment process secure?
  p.faq-answer Absolutely!  We personally don't buy anything that isn't SSL secured and don't expect you to either.  Giving us your credit card information is not something we take lightly.  All transactions are performed over SSL to PCI compliant payment gateways.
  
  h4.faq-question How can I pay for a series?
  p.faq-answer Currently we accept [add payment methods here]

  h4.faq-question Do you have any discounts or specials?
  p.faq-answer We do offer discounts if you are looking to purchase multiple licenses for a single series.  
    a(href="/contact") Send us an email 
    |if you would like more information.


  br
  h3.underline-blue Video Questions

  h4.faq-question Are there prerequisites to a series?
  p.faq-answer If a series has hard prerequisite knowledge requirements we try to point those out on the landing page.  If you're not sure though feel free to 
    a(href="/contact") email us 
    |and ask and we'd be happy to help.

  h4.faq-question What if I have questions about a series while I'm watching?
  p.faq-answer We make every effort to be thorough in our coverage of a series topic however you may have questions about something. If you're not clear on something just send us an email and we'll help clarify.

  p.faq-answer <em>Please do not abuse this offer and expect us to finish a work or school project for you. We're happy to clarify things that might not have been fully explained.</em>
  
  h4.faq-question Are the series safe for my kids to watch?
  p.faq-answer All series are G-rated and safe for work and kids. No need to pause or mute when the little ones or big man (or woman) are around.
  
  h4.faq-question What devices can I watch on?
  p.faq-answer We test our paid content on desktops, iPad, iPhone, and Android devices.  If you are experiencing an issue please 
    a(href="/contact") let us know 
    |and we'll make it right or refund your purchase.

  h4.faq-question Does my purchase include any updates?
  p.faq-answer Yes! If we correct any errors or modify source code you are entitled to those changes at no additional cost.  This does not include:
    ul
      li Completely revised series covering major technology changes (This will normally result in the creation of a separate series)
    
  p.faq-answer If you purchase a series that is rewritten within a few months because of a major technology change we'll generally give you free access to the new version.  Just 
    a(href="/contact") send us an email.
