#page-bottom
  .container-narrow
    .row-fluid.marketing
      .span6
        h3 Links
        div(style="padding-bottom:10px;")
        ul.footer-links.clearfix
          li
            i.icon.white-version.icon-home
            a(href="/") Home
          li
            i.icon.white-version.icon-comments-alt
            a(href="/reviews") Reviews
        ul.footer-links.clearfix
          li
            i.icon.white-version.icon-question-sign
            a(href="/about") About
          li
            i.icon.white-version.icon-exchange
            a(href="/connect") Connect
      .span6
        h3 Connect With Us
        div(style="padding-bottom:10px;")
        ul.footer-links.clearfix
          li
            i.icon.white-version.icon-film
            a(href="http://www.youtube.com/microcasts", target="_blank") YouTube
          li
            i.icon.white-version.icon-rss
            a(href="/rss") RSS
        ul.footer-links.clearfix
          li
            i.icon.white-version.icon-twitter
            a(href="https://twitter.com/sidwarkd", target="_blank") K-SID
          li
            i.icon.white-version.icon-twitter
            a(href="https://twitter.com/aatball", target="_blank") BALL

#footer
  .container-narrow
    block footer
      .copyright &copy; HardlySoftware 2013

script
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38620480-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
