extends layout

block content

  .jumbotron
    h1 
      span.main-micro 
        &micro;
      | Casts

    p.lead Short, focused, chunks of embedded learning awesomeness. Helping <strong>&micro;</strong> hack the Internet of Things from the ground up.

    p
      a.btn.btn-success.btn-large(href='/about') Watch Intro &nbsp;
        i.icon-play-circle.icon-white

    hr

  - if (episodes.length === 0)
    .jumbotron
      h2 Videos Coming Soon!

  - for(i = 0; i < episodes.length; i += 2)
    include ./models/episode-preview.jade

    
    
