extends layout

block content

  .jumbotron
    h1 
      span.main-micro 
        &micro;
      | Casts

    p.lead Short, focused chunks of embedded learning awesomeness. Helping <strong>&micro;</strong> hack DIY electronics from the ground up.

    p
      a.btn.btn-success.btn-large(href='/about') Watch Intro &nbsp;
        i.icon-play-circle.icon-white

    p
      a(href="//www.youtube.com/subscription_center?add_user_id=OzT8ij63FzF3eDmcbY2gkw&feature=creators_cornier-//s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_130x36_red.png")
        img(src="//s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_130x36_red.png", alt="Subscribe to me on YouTube")
      img(src="//www.youtube-nocookie.com/gen_204?feature=creators_cornier-//s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_130x36_red.png", style="display: none")

    hr

  - if (episodes.length === 0)
    .jumbotron
      h2 Videos Coming Soon!

  - for(i = 0; i < episodes.length; i += 3)
    include ./models/episode-preview.jade
