!!! 5
html
  head
    title &micro;Casts | 
      = title
    include header
    include bootstrap
    include fontawesome
    //if lt IE 8
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    link(rel='stylesheet', href='/css/site.css')
    script(src="/js/site.js")

    block customheader

  body
    .container
      .masthead
        .muted
          a(href="/")
            img(src="/img/uCasts.png")
        .navbar
          .navbar-inner
            .container
              ul.nav
                - if (title === 'Home')
                  li.active
                    a(href="/") Home
                - else
                  li
                    a(href="/") Home
                - if (title === 'Library')
                  li.active
                    a(href="/library") Library
                - else
                  li
                    a(href="/library") Library
                - if (title === 'Reviews')
                  li.active
                    a(href="/reviews") Reviews
                - else
                  li
                    a(href="/reviews") Reviews
                - if (title === 'FAQ')
                  li.active
                    a(href="/faq") FAQ
                - else
                  li
                    a(href="/faq") FAQ
                
      
      block content

      hr

    include footer
    