!!! 5
html
  head
    title &micro;Casts | 
      = title
    include header
    include bootstrap
    include fontawesome
    //if lt IE 8
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    link(rel='stylesheet', href='/css/site.css')
    script(src="/js/site.js")

    block customheader

  body

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/") &micro;Casts
          .nav-collapse.collapse

            ul.nav
              - if (title === 'Home')
                li.active
                  a(href="/") Home
              - else
                li
                  a(href="/") Home
              - if (title === 'About')
                li.active
                  a(href="/about") About
              - else
                li
                  a(href="/about") About
              - if (title === 'Connect')
                li.active
                  a(href="/connect") Connect
              - else
                li
                  a(href="/connect") Connect


    .container-narrow

      block content

      hr

    include footer
    