!!! 5
html
  head
    title &micro;Casts | 
      = title
    include header
    include bootstrap
    //if lt IE 8
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    block customheader
  body
    block content