extends ../layout

block customheader
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
  script(src="https://checkout.stripe.com/v2/checkout.js")
  script(src="/js/soda.js")

block content
  h1 Stay Thirsty My Friend
  p.lead You card has been successfully charged and will show up on your statement as UCASTS.